/* Global Styles */

body {
	font-family: $font-main;
	font-weight: 300;
}

a {
	color: $light-color;
	font-weight: 100;
	letter-spacing: 0.03em;
	padding-bottom: 5px;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $light-color;
	}

}

img {
	max-width: 100%;
}

