/* Variables */

// Colors

$primary-color: #202737;
$secondary-color: #534f4c;
$tertiary-color: #9c9d9f;
$accent-color: #847766;
$light-color: #ffffff;
$dark-color: #333333;
$footer-color: #373e46;
$facebook-color: #3c5a9a;
$instagram-color: #3e729a;
$twitter-color: #55aded;


// Typography

$font-main: "Lato", sans-serif;