$primary-color: #F4F4F6;

$secondary-color: #ffffff;

$link-color: #313131;

$hover-color: #50bcb6;

$font-family: 'Lato', sans-serif;

$primary-font-size: 1em;

$secondary-font-size: .8em;

$sidebar-font-size: .9em; 