$redColor: #96342B;
$blueColor: #556890;
$orangeColor: #CF7B40;
$greenColor: #224933;

// $subHeaders: .preamble, .explanation, .participation, .benefits, .requirements

$headerFont: 'Yanone Kaffeesatz Regular', sans-serif;
$subheaderFont: 'Arial Narrow Italic', sans-serif;
$bodyFont: 'YuGothic Medium', sans-serif;
